:root {
  --breakpoint-mobile: 320px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop-small: 1024px;
  --breakpoint-desktop-medium: 1280px;
  --breakpoint-desktop-large: 1440px;
  --breakpoint-desktop-xlarge: 1920px;

  --primary-d1: #47b5ff;
  --primary-m1: #06283d;
  --primary-brand: #1363df;
  --primary-l1: #dff6ff;
  --gray-d2: #181c24;
  --gray-d1: #535965;
  --gray-m1: #91959c;
  --gray-l2: #b5b7bc;
  --gray-l1: #e5e5e7;
  --white: #ffffff;
  --positive-2: #12805c;
  --positive-1: #268e6c;
  --negative-2: #c9252d;
  --negative-1: #d7373f;
  --color-172026: #172026;

  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-36: 36px;
  --font-size-48: 48px;
}

.navbar-main {
  width: 100%;
  background-color: var(--primary-brand);
  height: 48px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
  left: 0;
}

.navbar-main > button {
  background-color: var(--primary-brand);
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-container {
  width: 164px;
  color: var(--color-172026);
  height: 310px;
  display: flex;
  flex-direction: column;
}
.product-container > div:nth-of-type(1) {
  width: 100%;
  height: 196px;
  background-color: var(--gray-l1);
}

.product-container > div:nth-of-type(1) > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.product-container > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: var(--font-size-16);
  gap: 6px;
  flex: 1;
  padding: 10px;
}
.product-container > div:nth-of-type(2) > h3 {
  font-size: var(--font-size-16);
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.product-container > div:nth-of-type(2) > p {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: var(--font-size-16);
}

.all-products {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product-action-button {
  width: 120px;
  height: 45px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 6px;
  font-size: var(--font-size-14);
  font-weight: 600;
  border-radius: 10px;
}

.product-action-button > img {
  width: 16px;
}

.product-page-actions {
  margin-block: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.product-page-actions > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.menu-sidebar {
  position: fixed;
  right: 0;
  z-index: 1;
  top: 0;
  width: 343px;
  height: 100vh;
  background-color: white;
}

.menu-sidebar-head {
  padding: 10px;
  height: 44px;
  background-color: var(--gray-l1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size-16);
}
.menu-sidebar-head > button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.menu-sidebar-main {
  padding: 36px 25px;
}

.menu-sidebar-main > button {
  text-decoration: underline;
  font-size: var(--font-size-14);
  margin-bottom: 16px;
  text-transform: capitalize;
}

.menu-sidebar-main > div {
  padding-block: 16px;
  border-top: 1px solid gray;
}
.menu-sidebar-main > div > h3 {
  font-weight: 600;
  font-size: var(--font-size-16);
  margin-bottom: 16px;
}

.menu-sidebar-backdrop {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.categories-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  border-bottom: 1px solid gray;
  margin-bottom: 30px;
  padding-bottom: 16px;
  text-transform: capitalize;
}

.categories-container label {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 20px;
}

.categories-container label > input {
  width: 24px;
  height: 24px;
}

.categories-container ~ button {
  width: 190px;
  height: 40px;
  background: var(--primary-brand);
  text-transform: uppercase;
  align-self: center;
  border-radius: 10px;
  color: white;
  font-weight: 600;
}

.header-container {
  position: relative;
  min-width: 423px;
  width: 100%;
  height: 193px;
  background-color: gray;
  margin-bottom: 100px;
}

.header-hero {
  width: 100%;
  height: 100%;
  background: url(../assets/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: padding-box;
  opacity: 0.9;
}

.category-title-box {
  width: 343px;
  height: 159px;
  background: var(--color-172026);
  position: absolute;
  margin: auto;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.category-title-box > h1 {
  font-size: var(--font-size-36);
  font-weight: 600;
  color: white;
  text-align: center;
  position: relative;
  line-height: 3;
}

.category-title-box > h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 121px;
  height: 8px;
  transform: translate(50%, 0);
  background-color: var(--primary-brand);
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-inline: 20px;
}

.search-form input {
  width: 330px;
  height: 40px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  outline: 1px solid var(--gray-d1);
}

.all-products-container {
  display: flex;
}

.all-products-container > .menu-sidebar-main {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .navbar-main > button {
    display: none;
  }

  .header-container {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 30px;
    height: 300px;
  }

  .category-title-box {
    position: static;
    transform: translate(0);
    height: 100%;
    width: 500px;
  }

  .navbar-main ~ .menu-sidebar-backdrop {
    display: none;
  }

  .all-products-container {
    gap: 20px;
  }

  .all-products-container > .menu-sidebar-main {
    display: block;
    width: 400px;
  }
}
